@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap');


body{
  margin: 0;
  padding: 0;
  // background-color: #505050;
  background-image: url(../img/bg.jpg);
  background-size: cover;


  
}

.container{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}


.nixie-clock{
  display: flex;
  
  font-size: 200px;
  font-family: 'Oxanium', cursive;


  line-height: 0.68;
  // color: #ffCC00;
  color: #ffd900;
  // text-shadow: 0 0 25px #FF0000;
  // text-shadow: 0 0 10px gold;
  // text-shadow: 0 0 20px gold;
  // text-shadow: 0 0 30px rgb(255, 157, 0);
  text-shadow: 0 0 100px rgb(255, 157, 0);
  position: relative;
  

  .hours{
    display: flex;

    .tensOfHours{
      position: relative;
      display: inline-block;

      & div:first-child{
          opacity: 1;
          transition: opacity 1s;
          position: absolute;
          background: none;
      }

      & div:last-child{
          opacity: 0;
          transition: opacity 1s;
          background: none;
      }

    }

    .unitsOfHours{
      position: relative;
      display: inline-block;

      & div:first-child{
          opacity: 1;
          transition: opacity 1s;
          position: absolute;
          background: none;
      }

      & div:last-child{
          opacity: 0;
          transition: opacity 1s;
          background: none;
      }

    }

}

  .minutes{
    display: flex;
    

    .tensOfMinutes{
      position: relative;
      display: inline-block;

      & div:first-child{
          opacity: 1;
          transition: opacity 1s;
          position: absolute;
          background: none;
      }

      & div:last-child{
          opacity: 0;
          transition: opacity 1s;
          background: none;
      }

    }

    .unitsOfMinutes{
      position: relative;
      display: inline-block;

      & div:first-child{
          opacity: 1;
          transition: opacity 1s;
          position: absolute;
          background: none;
      }

      & div:last-child{
          opacity: 0;
          transition: opacity 1s;
          background: none;
      }

    }

  }

  .seconds{
    display: flex;

    .tensOfSeconds{
      position: relative;
      display: inline-block;

      & div:first-child{
          opacity: 1;
          transition: opacity 1s;
          position: absolute;
          background: none;
      }

      & div:last-child{
          opacity: 0;
          transition: opacity 1s;
          background: none;
      }

    }

    .unitsOfSeconds{
      position: relative;
      display: inline-block;

      & div:first-child{
          opacity: 1;
          transition: opacity 1s;
          position: absolute;
          background: none;
      }

      & div:last-child{
          opacity: 0;
          transition: opacity 1s;
          
      }

    }

  }


  .dots{
    position: relative;
    top: -15px;  
  }


}




.humburger-menu {
  box-sizing: border-box;
  width: 70px;
  padding: 10px;
  position: fixed;
  left: 0px;
  top: 0px;
  // z-index: 0;
  cursor:pointer;
  // border: 1px solid red;

  div {
    width: 100%;
    height: 6px;
    border-radius: 20px;
    background-color: #C0C0C0;
  }

  div:nth-child(2) {
    margin:7px 0px;
  }

  &:hover div{
    background-color: #fff;
  }
}




.aside{
  width: 0px;
  height: 100vh;
  // position: relative;
  position: fixed;
  z-index: 1;
  background-color: chocolate;
  transition: width 1s ease-out;

  .fa-times-circle{
    color: #C0C0C0;
    position: absolute;
    display: none;
    left: 102%;
    top:5px;

    &:hover{color: #fff;}
  }
}









